<div style="padding: 0px; height: 100vh;">
    <div align="center">
          <ul>
    <li><a class="active" href="/">Home</a></li>
    <li><a href="/scanner">Scanner</a></li>
    <li><a href="/tips">Growing Tips</a></li>
    <li><a href="/about">About us</a></li>
  </ul>
    </div>
    <div style="height: 100px; align-items: center;justify-content: center;display: flex;">
       <h1>Growing Tips</h1>  
    </div>
    <div style="padding:30px">
        <div style="">
            <div style="float: left;width: 50%;">
               
                    <div style="padding: 50px;">
                        <div>
                            <h1> 1. Plant according to season</h1>
                         </div>
                         Saving water is one of the most important facets of sustainable gardening. The best way to do that is to plant the most water-intensive crops during the rainy season.
                         <br/><br/>
                         <div>
                          
                            This could include sweet potatoes, eggplants, cucumbers, bamboo shoots or pumpkins. By planting these at the right time, you’ll be able to make use of the rainfall at the right time.
                        </div>
                    </div>
            </div>
            <div> 
                <img height="40%" width="50%" src="https://cdn.shopify.com/s/files/1/0504/8618/2041/files/2_4c1bdef9-c1ea-4336-b385-a80f48bb9a30_480x480.jpg?v=1621966527" alt="">
            </div>
        </div>
    </div>
    <div style="padding:30px">
        <div style="">
            <div style="float: left;width: 50%;">
               
                    <div style="padding: 50px;">
                        <div>
                            <h1> 2. Collect rainwater </h1>
                         </div>
                         To ensure your plants get enough water when it’s not raining, collect rainwater with water butts rather than wasting clean water from the grid.
                         <br/><br/>
                         <div>
                          
                            You can save some of this water for the vegetables you’ll be planting in the dryer season, such as tomatoes (pick the most heat-tolerant varieties).
                        </div>
                    </div>
            </div>
            <div> 
                <img height="40%" width="50%" src="https://cdn.shopify.com/s/files/1/0504/8618/2041/files/3_5f9d7857-bafd-4aa8-861d-1b98413cba49_480x480.jpg?v=1621966703" alt="">
            </div>
        </div>
    </div>
    <div style="padding:30px">
        <div style="">
            <div style="float: left;width: 50%;">
               
                    <div style="padding: 50px;">
                        <div>
                            <h1> 3. Use mulch to help water retention during the dry season</h1>
                         </div>
                         Cover the ground around your plants with mulch – it will help retain water in the soil for longer, which is one of the key steps you’ll want to achieve with sustainable urban gardening. It will also prevent the roots from overheating on hot days and keep your plants healthy.
                         <br/><br/>
                         <div>
                          
                            It’s important to ensure that the mulch you’re using for your sustainable gardening is coming from a sustainable source. Try shredded bark, sand or cocoa bean hulls.
                        </div>
                    </div>
            </div>
            <div> 
                <img height="40%" width="50%" src="https://cdn.shopify.com/s/files/1/0504/8618/2041/files/4_7781fe36-9c9b-46e3-92ad-32ffff1b5df8_480x480.jpg?v=1621966855" alt="">
            </div>
        </div>
    </div>
    <div style="padding:30px">
        <div style="">
            <div style="float: left;width: 50%;">
               
                    <div style="padding: 50px;">
                        <div>
                            <h1> 4. Raise garden beds for better drainage during the rainy season</h1>
                         </div>
                         In the tropics, you don’t just have to deal with not getting enough water – but also with too much of it.
                         <br/><br/>
                         <div>
                            One of the simplest ways to prevent your plants from rotting while staying true to the principles of sustainable gardening is to raise the garden beds using rocks, old construction materials or reclaimed wood.
                        </div>
                    </div>
            </div>
            <div> 
                <img height="40%" width="50%" src="https://cdn.shopify.com/s/files/1/0504/8618/2041/files/5_e9536f46-74fc-4af7-8733-ef782cef39ce_480x480.jpg?v=1621967125" alt="">
            </div>
        </div>
    </div>
    <div style="padding:30px">
        <div style="">
            <div style="float: left;width: 50%;">
               
                    <div style="padding: 50px;">
                        <div>
                            <h1>5. Use a compost</h1>
                         </div>
                         This is a tip everyone who’s getting into urban gardening should use – composting. You can turn food scraps or plant trimmings into rich, sustainable fertilizer!
                         <br/><br/>
                         <div>
                            Even if you live in an apartment and only garden on the balcony, there are composting options such as worm bins which will work for you.
                        </div>
                    </div>
            </div>
            <div> 
                <img height="40%" width="50%" src="https://cdn.shopify.com/s/files/1/0504/8618/2041/files/6_c157f15a-8481-405d-9ab9-ca7d209b08f6_480x480.jpg?v=1621967346" alt="">
            </div>
        </div>
    </div>
</div>
<style lang="scss">
    .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
    .button5 {background-color: #555555;} /* Black */
    .home-footer{
        padding: 50px;
        flex-wrap: wrap;
        color: white;
        font-size: 16px;
        height: 400px;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .hero{
        padding: 50px;
        background-image:linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ),
   url("https://t4.ftcdn.net/jpg/04/31/97/65/360_F_431976514_P4b7umRdTxJeewAyzD5ItVc8LTTurva7.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        display: flex;
        color: white;
        align-items: center;
        height: 350px;
        font-size: 40px;


    }
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #426e6c;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #426e6c;
}
div {
    font-family: Verdana, sans-serif;
}
.active {
  background-color: #426e6c;
}

</style>